{% extends "base.njk" %}



{% block title %}
Call of War
{% endblock %}

{% block content %}
<div class="container"> 
    <a href="/" class="back"> 
        назад 
    </a>
    <div class="maintext">
        Call of War - {{ faction.name }}
    </div>
    <div class="text">
        {{ faction.description }}
    </div>
    <div class="text">
        список стран:
                <p>
                    {% for country in faction.countries %}
                        <a href="{{country.link}}">
                            {{ country.name}}
                        </a>
                    {% endfor %} 
                </p>
                
        </div>
</div>
{% endblock %}